langchain
langchain-core
langchain-community
langchain-text-splitters
pydantic
openai
python-dotenv
aiohttp
aiofiles
boto3
asyncpg
loguru
psycopg[binary]
mysqlclient; sys_platform == 'linux'
pymysql
django
djangorestframework
celery
redis
django-environ
django-prometheus